test/support/states_language_test_error.json
{
  "Comment": "StatesLanguage Test Client Error",
  "StartAt": "Start",
  "States": {
    "Start": {
      "Next": "SecondState",
      "Parameters": {
        "isState.$": "$.:state"
      },
      "Catch": [
        {
          "ErrorEquals": [
            ":error"
          ],
          "Next": "HandleError"
        }
      ],
      "Resource": "DoStart",
      "Type": "Task"
    },
    "SecondState": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Finish"
    },
    "HandleError": {
      "Next": "Finish",
      "Resource": "DoHandleError",
      "Parameters": {
        "isState.$": "$.:state",
        "test": "ok"
      },
      "Type": "Task"
    },
    "Finish": {
      "End": true,
      "Parameters": {
        "done": true
      },
      "Resource": "DoFinish",
      "Type": "Task"
    }
  }
}
