test/support/states_language_test_choice.json
{
  "Comment": "StatesLanguage Test Choice Client",
  "StartAt": "Start",
  "States": {
    "Start": {
      "Next": "SecondState",
      "Parameters": {
        "isState.$": "$.:state"
      },
      "Resource": "DoStart",
      "Type": "Task"
    },
    "SecondState": {
      "Resource": "DoSecond",
      "Parameters": {
        "isState.$": "$.:state",
        "test": "ok"
      },
      "Choices": [
        {
          "Next": "FirstChoice",
          "StringEquals": "{:digit, 1}"
        },
        {
          "Next": "SecondChoice",
          "StringEquals": "{:digit, 2}"
        }
      ],
      "Type": "Choice"
    },
    "FirstChoice":{
      "Type": "Task",
      "Resource": "DoFirstChoice",
      "Next": "ThirdState"
    },
    "SecondChoice":{
      "Type": "Task",
      "Resource": "DoSecondChoice",
      "Next": "ThirdState"
    },
    "ThirdState": {
      "Next": "Finish",
      "Parameters": {
        "exists": true,
        "thisIsDeep.$": "$.:another_level.:ok",
        "stringsOk.$": "$.hmm"
      },
      "InputPath": "$.:level2",
      "ResourcePath": "$.another_state",
      "OutputPath": "$.another_state",
      "Resource": "DoThird",
      "Type": "Task"
    },
    "Finish": {
      "End": true,
      "Parameters": {
        "done": true
      },
      "Resource": "DoFinish",
      "Type": "Task"
    }
  }
}
