test/support/states_language_test_map.json
{
  "Comment": "StatesLanguage Test Client",
  "StartAt": "Start",
  "States": {
    "Start": {
      "Next": "SecondState",
      "Parameters": {
        "isState.$": "$.:state"
      },
      "Resource": "DoStart",
      "Type": "Task"
    },
    "SecondState": {
      "Next": "ThirdState",
      "Type": "Map",
      "InputPath": "$.:detail",
      "ItemsPath": "$.:items",
      "ResourcePath": "$.map_result",
      "Iterator": "StatesLanguage.TestClientMap.First"
    },
    "ThirdState": {
      "Next": "Finish",
      "Parameters": {
        "exists": true,
        "thisIsDeep.$": "$.:another_level.:ok",
        "stringsOk.$": "$.hmm"
      },
      "InputPath": "$.:level2",
      "ResourcePath": "$.another_state",
      "OutputPath": "$.another_state",
      "Resource": "DoThird",
      "Type": "Task"
    },
    "Finish": {
      "End": true,
      "Parameters": {
        "done": true
      },
      "Resource": "DoFinish",
      "Type": "Task"
    }
  }
}
